<br>
<br>
<br>
<br>
<br>

    <div class = "row animated fadeIn">


            <div class = "row">



                <div class = "col-lg-12 text-center">

                    <h1  style="font-size:35px; font-family:'junar'; text-decoration:underline; ">CONTRACTORS</h1>

                </div>


                <div class ="col-lg-12">

                    <div class = "row">

                        <div class = "col-lg-3 text-right">

                            <h1  style="font-size:25px; font-family:'junar'; ">
                                NAME
                                <i class="material-icons" style="font-size:45px; ">
                                    expand_more
                                </i>
                            </h1>

                        </div>

                        <div class = "col-lg-4 text-right">

                            <h1  style="font-size:25px; font-family:'junar'; ">
                                ADDRESS
                                <i class="material-icons" style="font-size:45px; ">
                                    expand_more
                                </i>
                            </h1>

                        </div>

                        <div class = "col-lg-4 text-right">

                            <h1  style="font-size:25px; font-family:'junar'; ">
                                CONTRACTOR
                                <i class="material-icons" style="font-size:45px; ">
                                    expand_more
                                </i>
                            </h1>

                        </div>



                    </div>

                </div>


                <div *ngIf="loadingContractors" class = "col-lg-12 text-center">
                    <br>
                    <br>
                    <br>
                    <i style="font-size:35px;" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    <br>
                    <br>
                    <br>

                </div>
                <div *ngIf="!loadingContractors" class = "col-lg-12 ">


                            <a *ngFor="let contractor of contractorArray" href="#" onclick="return false;">

                                <div class ="col-lg-12" (click)="selectContractor()"  [ngClass]="{'contractorselected':contractorSelected,'contractordeselected':!contractorSelected}">

                                    <div class = "row">

                                        <div class = "col-lg-3 text-right">

                                            <h1 class="varta" style="font-size:25px; color:black; opacity:1;">
                                                SUPERSTORE

                                            </h1>

                                        </div>

                                        <div class = "col-lg-3 text-right">

                                            <h1 class="varta"  style="font-size:25px; color:black; ">
                                                18588-75TH AVE
                                            </h1>

                                        </div>

                                        <div class = "col-lg-3 text-right">

                                            <h1  class="varta" style="font-size:25px; color:black;">
                                                RICKY GERVAIS
                                            </h1>

                                        </div>

                                        <div class = "col-lg-3">

                                            <div class = "row">

                                                <div class = "col-lg-8 text-right" >

                                                    <div class ="row">

                                                        <div class = "col-lg-6 text-right">

                                                            <i class = "material-icons" style="padding-top:30px;">edit</i>

                                                        </div>
                                                        <div class = "col-lg-6 text-center">

                                                            <i class = "material-icons deletecolor" style="padding-top:30px;">delete_forever</i>


                                                        </div>

                                                    </div>

                                                </div>
                                                <div class = "col-lg-4 text-center">



                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </a>





                    <div class = "row">

                        <div >

                    </div>

                </div>



                </div>


                <div class = "col-lg-2">

                </div>
                <div class = "col-lg-8" >

                    <div class = "row">

                        <div class = "col-lg-4 text-center">

                            <br>
                           <a href="#" style="color:black;">
                               <i class="material-icons text-center" style="font-size:60px;">chevron_left</i>
                           </a>

                        </div>

                        <div class = "col-lg-4 text-center">

                            <div class = "row">

                                <div class = "col-lg-4 text-center">
                                    <p style="font-size:14px; font-family:'junar'; padding-top:38px; color:black;">
                                        2
                                    </p>

                                </div>
                                <div class = "col-lg-4 text-center">
                                    <p style="font-size:14px; font-family:'junar'; padding-top:38px; color:black;">
                                        OF
                                    </p>
                                </div>
                                <div class = "col-lg-4 text-center">

                                    <p style="font-size:14px; font-family:'junar'; color:black; padding-top:38px;">
                                        2
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class = "col-lg-4 text-center">
                            <br>
                            <a href="#" style='color:black;'>
                                <i class="material-icons text-center" style="font-size:60px;">chevron_right</i>
                            </a>
                        </div>

                    </div>


                </div>
                <div class = "col-lg-2">

                </div>

    </div>
        <!--<div class = "col-lg-2 text-right">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <i class="material-icons" style="font-size:40px;">expand_less</i>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <i class="material-icons" style="font-size:40px;">expand_more</i>


        </div>-->



</div>
