<br>
<br>
<br>
<br>
<br>
<div class ="row">
    <div class = "row">

        <div class ="col-lg-12">

            <div class = "row">

                <div class = "col-lg-3 text-right">

                    <a href="#"  onclick="return false">

                        <h1  style="font-size:25px; font-family:'junar'; ">
                            HOME
                            <i class="material-icons" style="font-size:45px; ">
                                home
                            </i>

                        </h1>
                    </a>

                </div>

                <div class = "col-lg-3 text-right">

                    <a href="#" onclick="return false">

                        <h1  style="font-size:25px; font-family:'junar'; ">
                            LOCATIONS
                            <i class="material-icons" style="font-size:45px; ">
                                gps_fixed
                            </i>

                        </h1>
                    </a>

                </div>

                <div class = "col-lg-3 text-right">

                    <a href="#" style="color:rgb(65, 65, 65); opacity:.4;" onclick="return false">

                        <h1  style="font-size:25px; font-family:'junar'; ">
                            CONTRACTORS
                            <i class="material-icons" style="font-size:45px; ">
                                expand_more
                            </i>
                        </h1>
                    </a>

                </div>


                <div class = "col-lg-3 text-right">

                <a href="#" style="color:black;" onclick="return false">
                    <h1  style="font-size:25px; font-family:'junar'; ">
                        CONTRACTOR
                        <i class="material-icons" style="font-size:45px; ">
                            expand_more
                        </i>
                    </h1>
                </a>

                </div>


            </div>

        </div>

        <div class = "col-lg-2">

        </div>

            <div >

                <div class = "col-lg-2  text-right">
                    <img class="img-responsive" src="../assets/building.svg"/>
                </div>

                <div class = "col-lg-4 text-left">
                    <br>
                    <br>
                    <br>
                    <h1  style="font-size:35px; font-family:'junar'; text-decoration:underline; ">LOCATION</h1>
                    <h1 *ngIf="!loadingLocation" class="varta" style="font-size:25px; color:black; opacity:1;">
                        {{currentLocation}}
                        <i class="material-icons" style="font-size:25px;">edit</i>

                    </h1>
                    <div *ngIf="loadingLocation" class = "col-lg-12 text-left">
                        <br>
                        <i style="font-size:30px;" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h1  style="font-size:35px; font-family:'junar'; text-decoration:underline; ">ADDRESS</h1>
                    <h1 *ngIf="!loadingLocation" class="varta" style="font-size:25px; color:black; opacity:1;">
                        {{currentLocationAddress}}
                        <i class="material-icons" style="font-size:25px;">edit</i>

                    </h1>
                    <div *ngIf="loadingLocation" class = "col-lg-12 text-left">
                        <br>
                        <i style="font-size:30px;" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <br>
                    <i class = "material-icons" style="font-size:40px;">
                        local_phone
                        <span class="varta" style="font-size:27px; ">{{currentLocationPhone}}
                            <i class="material-icons" style="font-size:25px;">edit</i>
                        </span>
                        </i>
                    <br>
                    <i class = "material-icons" style="font-size:40px;">
                        email
                        <span class="varta" style="font-size:27px; ">{{currentLocationEmail}}
                            <i class="material-icons" style="font-size:25px;">edit</i>
                        </span>
                    </i>


                </div>

                <div class = "col-lg-4 text-left">
                    <br>
                    <br>
                    <br>
                    <h1  style="font-size:35px; font-family:'junar'; text-decoration:underline; ">CONTACT</h1>
                    <h1 class="varta" style="font-size:25px; color:black; opacity:1;">
                        {{currentClient}}
                    </h1>
                    <h1  style="font-size:35px; font-family:'junar'; text-decoration:underline; ">ADDRESS</h1>
                    <h1 *ngIf="!loadingClients" class="varta" style="font-size:25px; color:black; opacity:1;">
                        {{currentAddress}}
                    </h1>
                    <div *ngIf="loadingClients" class = "col-lg-12 text-left">

                        <i style="font-size:30px;" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>


                    </div>
                    <br>
                    <i class = "material-icons" style="font-size:40px;">
                        local_phone
                        <span class="varta" style="font-size:27px; "></span>
                        </i>
                    <br>
                    <i class = "material-icons" style="font-size:40px;">
                        email
                        <span class="varta" style="font-size:27px; "></span>
                    </i>


                </div>

            </div>



    </div>

</div>
